*{
    box-sizing: border-box;
}

html{
    font-size: $baseFontSize;

    @include tablets {
        font-size: $baseFontSize - 1px;
    }

    @include phones {
        font-size: $baseFontSize - 2px;
    }
}
body, html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    font-family: 'Play', sans-serif;
}

.wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

section{
    height: 100vh;
    width: 100%;
}
.container{
    max-width: rem($containerWidth);
    max-height: 100vh;
    height:95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--contacts-section-container{
        max-width: 100vw;
        max-height: 100vh;
        width:100%;
        height:100%;
    }
s
    &--footer-container{
        justify-content: space-between;
        align-items: center;
        max-width: rem($containerWidth);
        width: 95vw;
        margin: auto 0;
        flex-direction: row;
        @include phones {
            flex-direction: column;
        }
    }
}

ul , li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

address{
    font-style: inherit;
}


h1, h2, h3{
    margin:0;
}

h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem(48px);
}

h2{
    font-weight: 700;
    font-size: rem(36px);
    text-transform: uppercase;
}
h3{
    font-weight: 700;
    font-size: rem(24px);
}

svg{
    height: 100%;
    width: auto;
}
