// variables
$red: #e01f3d;
$grey: #f5f5f5;

$baseFontSize: 16px;
$containerWidth: 940px;

$tablets: 768px;
$phones: 480px;
@import "../LAYOUT/media.scss";

// normalize
@import "../LAYOUT/normalize.css";

//setup
@import "https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap";
@import "../LAYOUT/layout.scss";

// components
@import "../BLOCKS/section.scss";

@import "../BLOCKS/intro-section.scss";
@import "../BLOCKS/header.scss";
@import "../BLOCKS/menu.scss";
@import "../BLOCKS/phone-number.scss";
@import "../BLOCKS/hamburger.scss";
@import "../BLOCKS/features.scss";
@import "../BLOCKS/button.scss";

@import "../BLOCKS/reasons-section.scss";
@import "../BLOCKS/points.scss";

@import "../BLOCKS/shop-section.scss";
@import "../BLOCKS/arrow-button.scss";
@import "../BLOCKS/slider.scss";
@import "../BLOCKS/slide.scss";
@import "../BLOCKS/dropdown.scss";
@import "../BLOCKS/specs.scss";
@import "../BLOCKS/main-specs.scss";
@import "../BLOCKS/order.scss";

@import "../BLOCKS/team-section.scss";
@import "../BLOCKS/team.scss";
@import "../BLOCKS/member.scss";

@import "../BLOCKS/colours-menu-section.scss";
@import "../BLOCKS/colours-menu.scss";
@import "../BLOCKS/colour.scss";

@import "../BLOCKS/reviews-section.scss";
@import "../BLOCKS/review.scss";
@import "../BLOCKS/reviews-switcher.scss";

@import "../BLOCKS/video-section.scss";
@import "../BLOCKS/player.scss";

@import "../BLOCKS/order-section.scss";
@import "../BLOCKS/form.scss";
@import "../BLOCKS/radio.scss";
@import "../BLOCKS/modal.scss";
@import "../BLOCKS/contacts-section.scss";
@import "../BLOCKS/socials.scss";
@import "../BLOCKS/fixed-menu.scss";
