.arrow-button{
    max-width: 15px;
    max-height: 29px;

    stroke: black;
    fill: transparent;
    //overflow: visible;
    box-sizing: border-box;
    //border: solid 1px green;
    &--180deg{
        rotate: 180deg;
    }
    transition: transform 0.4s;
    &:hover{
        //max-width: rem(calc(1.2*15px));
        //max-height: rem(1.2*29px);
        transform: scale(1.2);
    }
}