.authors{
    display: flex;
    flex-direction: row;
}

.author{
    margin-right: rem(5px);
    &:last-child{
        margin-right: 0;
    }
}
.author__avatar{
    object-fit: cover;
    border: rem(4px) solid transparent;
    border-radius: 50%;
    width: rem(74px);
    height: rem(74px);
    &:active{
        border-color: #E01F3D; 
    }
    &:hover{
        cursor: pointer;
    }
}