.button{
    background: transparent;
    cursor: pointer;
    outline: none;
    border: rem(1px) solid transparent;
    border-radius: rem(100px);
    color: #FFF;
    text-transform: uppercase;

    &--theme--red{
        border-color: $red;
        background: $red;
        padding: rem(18px) rem(41px);
        &:hover{
        transition: 0.3s;
        background: white;
        color:$red;
        }
    }

    &--theme--transparent{
        font-weight: 400;
        text-transform: none;
        height: min-content;
        &:hover{
            transition: 0.3s;
            color:$red;
        }
    }
}