.colours-menu-section{
    background: url("../../PICS/women-bg.png") center center/cover no-repeat;
    position: relative;
    color: #fff;
}

.colours-menu-section__title{
    position: absolute;
    top:20%;
    left:7%;
}