.dropdown{
    max-width: fit-content;
    &:hover{
        .dropdown__content{
            visibility: visible;
            opacity: 1;
        }
    }
}
.dropdown__button{
    position: relative;
    display: inline-block;
    max-width: rem(90px);
    max-height: rem(90px);
    background: #9A9A9A;
    cursor: pointer;
    border-radius: 4px;
    //display: flex;
    //justify-content: center;
    //align-items: center;
}
.dropdown__icon{
    fill: white;
    max-width: rem(90px);
    max-height: rem(90px);
    padding:rem(24px);
    overflow: visible;
    transition: transform 0.4s;
    &:hover{
        transform: rotate(90deg);
    }
}

.dropdown__content{
    position: absolute;
    z-index: 20;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;
    opacity: 0;
    background: #dcdcdc;
    max-width: rem(270px);
    width:100%;
    padding: rem(30px) rem(25px);
    border-radius: 4px;
}

