.features{
    display:flex;
    flex-direction: row;
}

.feature{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.feature__icon{
    margin-right: 12px;
}

.feature__desc{
    width: 114px;
    font-weight: 400;
    font-size: 16px;
}