.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__menu{
    max-width: rem(639px);
    flex: 1;
}

.phone-number.header__phone-number{
    @include tablets{
       display: none; 
    }
}