.intro-section{
    &::after{
        content:"";
        position: absolute;
        width: 45px;
        height: 10px;
        left: 80vw;
        top: 100vh;
        background: #858585;
        transform: rotate(-45deg);
        @include tablets{
            display: none;
        }
    }
}
.intro-section__content{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: MIN(95vw, $containerWidth);
    @include tablets{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
     }
}
.intro-section__text{
    @include tablets{
        text-align: center;
     }
}
.intro-section__title{
    max-width: rem(400px);
    margin-bottom: rem(30px);
    @include tablets{
        max-width: rem(665px);
        margin-bottom: rem(10px);
     }
}
.intro-section__desc{
    font-size: rem(21px);
    max-width: rem(300px);
    margin-bottom: rem(35px);
    @include tablets{
        max-width: 370px;
        margin: 0 auto rem(23px);
     }
}
.intro-section__button{
    margin-bottom: rem(70px);
    @include tablets{
        margin-bottom: 0;
     }
}
.intro-section__features{
    @include tablets{
        display: none;
     }
    max-width: rem(515px);
}
.intro-section__media{
    margin-left: -14%;
    @include tablets{
        margin-left:0;
        //margin-bottom: rem(70px);
     }
    
}
.intro-section__pic{
    height: rem(510px);
    max-width: 100%;
    @include tablets{
        height: rem(320px);
     }
}
