.main-specs{
    display: flex;
    flex-direction: row;
}
.main-spec{
    margin-right: rem(85px);
    &:last-child{
        margin-right: 0;
    }
}
.main-spec__name{
    color: #666666;
}

.main-spec__value{
    font-weight: 700;
    font-size: rem(18px);
}