.menu{
    @include tablets{
        display: none;
        &--vertical-menu{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.menu__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 400;
    font-size: rem(18px);
    &--vertical-menu{
        flex-direction: column;
        font-size: rem(36px);
        color: #fff;
    }
}

.menu__item{
    font-size: inherit;
    text-align: center;
    align-self:center;
    max-width: fit-content;
    margin-right: rem(15px);
    transition: color .3s;
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        color: $red;
    }
    &--vertical-menu{
        margin-right: 0;
        margin-bottom: rem(30px);
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.menu__link{
    white-space: nowrap;
}