.phone-number{
    display: flex;
    font-weight: 400;
    font-size: rem(18px);
}
.phone-number__icon{
    width: rem(16px);
    height: rem(16px);
    align-self: center;
    margin-right: rem(6px);
}

.phone-number__number{
    white-space: nowrap;
}