.review{
    display: flex; 
    visibility: hidden;
    flex-direction: row;
    @include tablets{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &--active{
        visibility: visible;
        position: static;
    }
}

.review__avatar{
    margin-right: rem(40px);
    width: MIN(23vw, rem(253px));
    @include tablets{
        margin-right: 0;
    }
}

.review__body{
    margin-top: rem(35px);
    text-align: center;
}

.review__title{
    margin-bottom: rem(30px);
}

.review__text{
    font-weight: 400;
    font-size: rem(16px);
    color: #666;
    margin-bottom: rem(40px);
}

.review__author{
    font-weight: 700;
    font-size: rem(18px);
    color: #292929;
}