.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section--no--justify-content {
    justify-content: flex-start; }
  .section--bg--grey {
    background: #f5f5f5; }
  .section--bg--white {
    background: white; }
  .section--bg--black {
    background: black;
    color: white; }
