.shop-section{
    position: relative;
    padding: 0 5%;
    display: flex;
}

.shop-section__controls{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93vw;
    @include tablets{
        max-width: rem(450px);
        z-index: 50;
        top: 30%; // ??????
    }
}

.shop-section__left-button,
.shop-section__right-button{
    padding: 0;
}