.socials {
  display: flex;
  flex-direction: row;
  align-items: center; }

.socials__item {
  display: block;
  max-width: rem(30px);
  max-height: rem(30px);
  margin-right: rem(10px);
  overflow: hidden; }
  .socials__item:last-child {
    margin-right: 0; }

.socials__icon {
  max-width: rem(30px);
  max-height: rem(30px);
  fill: #B3B3B3; }
  .socials__icon:hover {
    transition: 0.3s;
    fill: #000000; }
